<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HSU :: Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      #message.good {
        background: #eaf4ef;
        border-color: #99ccb2;
      }
      #message {
        padding: 8px 15px;
        border-radius: 3px;
        margin: 0 0 0px;
        border: 1px solid #ccc;
        position: relative;
      }
h2.detail {
  margin: 0 0 6px;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 15px;
  color: #999;
}
h2.detail, .number {
  font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  -webkit-font-smoothing: antialiased;
}
.number {
  line-height: 0.7;
  color: #333;
  font-size: 52px;
}
}
    </style>
  </head>

  <body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
        <h3 class="muted">Hidden Services Uptime</h3>
      </div>
      <hr>

      <%= yield %>

      <hr>

      <div class="footer">
        <p>&copy; Copyleft 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>

